<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lovo.forestPrevention.dao.ISysSickDao">

    <resultMap id="sysSickId" type="sysSick">
        <id property="sickId" column="sick_id"></id>
        <result property="sickName" column="sick_name"></result>
        <result property="sickSource" column="sick_source" ></result>
        <result property="sickSymptom" column="sick_symptom"></result>
        <result property="sickRule" column="sick_rule"></result>
        <result property="sickImgPath" column="sick_img_path"></result>
        <result property="sickMethod" column="sick_method"></result>
        <result property="sickHarm" column="sick_harm"></result>
    </resultMap>

    <select id="addSysSick" parameterType="sysSick">
         insert into sys_sick(sick_name, sick_source, sick_symptom,
        sick_rule, sick_img_path, sick_method, sick_harm)
        values (#{sickName},#{sickSource},#{sickSymptom},#{sickRule},
        #{sickImgPath},#{sickMethod},#{sickHarm})
    </select>


</mapper>